name: CD - Release Please

on:
  push:
    branches: [main]

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: python
          default-branch: main
      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v2
      - name: Set up Python
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Cache python env
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}
      - name: Install deps
        if: ${{ steps.release.outputs.release_created }}
        env:
          PIP_UPGRADE: True
          PIP_UPGRADE_STRATEGY: eager
        run: |
          python -m pip install pip flit
      - name: Build and publish with Flit
        if: ${{ steps.release.outputs.release_created }}
        env:
          FLIT_USERNAME: __token__
          FLIT_PASSWORD: ${{ secrets.FLIT_TOKEN }}
        run: python -m flit publish
